/*
    Colors: 
        Moon Yellow:        #f4c613
        Grey:               #212225
        White Smoke:        #f4f4f4
        White:              #fff
        Black:              #000

*/


html, body{
    height: 100%;
}
body{
    color: #212228;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
section{
    background: #fff;
    overflow: hidden;
}

#preloader {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0%;
    z-index: 99999;
    background-color: #fff;
}

#spinner{
    background-image: url("/src/imgs/spinner.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
}

#home {
    background: none;
    height: 100%;
}
#video-bg-home{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    background: url('/src/video/solo.jpg') no-repeat;
    background-size: cover;
}

#home-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

#home-content{
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-heading h1{
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}
#home-heading h1 span{
    color:#f4c613;
    font-weight: 500;
} 
#home-text p{
    color:#fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/* Button */
.btn-general{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.btn-home{
    color: #fff;
    border: 1px solid #fff;
}
.btn-home:hover, .btn-home:focus{
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}

/* Arrow Down */
#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover, #arrow-down:focus{
    color: #f4c613;
}


/* About Section */
.content-box-lg {
    padding: 120px 0;
}

.vertical-heading h5 {
    color: #f4c613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 7px;
    display: inline-block;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: relative;
    top: 60px;
    left: -45px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 100;
    line-height: 50px;
}

#about-right p:first-child{
    margin-bottom: 30px;
}

#about-bottom{
    margin-top: 60px;
}

#about-bottom img{
    margin: 0 auto;
}