

#preloader {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0%;
    z-index: 99999;
    background-color: lightblue;
}

#spinner{
    background-image: url("/src/imgs/spinner.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
}

#video-bg-home{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.9;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    background: url('/src/video/solo.jpg') no-repeat;
    background-size: cover;
}

#home-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9;
}